



<h4>1º Pedal Solidário Tribos Unidas</h4>

<!--<div id="container">
<img style="position: absolute; left:1px;top:120px;z-indez:10" src="/img/PicsArt_11-27-12.11.34.png"  id="imgpost" alt="Postagem">
<img style="position: absolute; left:1px;top:580px;z-indez:10"  src="/img/IMG_20200412_123558_635.jpg"  id="pessoa" alt="Postagem">
</div>-->

<div id="container">
    <img src="/img/fundo.png" alt="pai">
    <div id="filho">
       <img src="/img/thales.jpg" alt="filho"> 
    </div>
</div>

<br>
<button onclick="takeScreenshot()">Baixar Imagem</button>



<script>



function takeScreenshot() {
    html2canvas(document.querySelector("#container")).then(canvas => {
        document.body.appendChild(canvas)
    });
}

/*$(function() { 
    $("#btnSave").click(function() { 
        html2canvas($("#container"), {
            onrendered: function(canvas) {
                theCanvas = canvas;
                document.body.appendChild(canvas);

                canvas.toBlob(function(blob) {
					saveAs(blob, "Dashboard.png"); 
				});
            }
        });
    });
}); */


//html2canvas(document.querySelector("#container")).then(canvas => {
  //  document.body.appendChild(canvas)
//});
</script>


<!--<p id="nome">Thales</p>
<p id="equipe">Team Speedy</p>
<p id="cidade">Ituiutaba</p>-->

<style>


#container img{
position: relative;
 width: 390px;
height: 390px;
margin-left: 1rem;
}

#filho img{
position: absolute;
width: 195px;
height: 183px;
margin-left: 113px;
margin-top: -235px;
border-radius: 4px;
   
}



@media (min-width:1000px){
#pessoa {
width: 200px;
height: 180px;
margin-left: -300px;
margin-top: 101px;
border-radius: 4px;
}
#nome {
color: cyan;
margin-left: 152px;
margin-top: -55px;

}
#equipe {
color: cyan;
margin-left: 170px;
margin-top: -21px;

}
#cidade {
color: cyan;
margin-left: 290px;
margin-top: -40px;

}
}























<!--<h4>Temas disponiveis </h4>

 
<main>

   {{#each postagens}}


    <article class="theme-item mt-4">
      
        <header>
           
           <img src="https://uploadmpdecoracoes.s3.amazonaws.com/{{key}}" alt="Imagem do tema {{nome}}">
           <img src="/img/uploads/{{key}}" alt="Imagem do tema {{nome}}">
      
        </header>
        <footer>
            <div>
                <strong> Tema: {{nome}}</strong><br> 
                <small><b> Categoria:</b> {{categoria.nome}}</small><br>
                <small><b> Modelo:</b> {{modelo.nome}}</small><br>
                <small>Data de publicação: {{data}}</small>
                
            </div>
             


            <a href="https://api.whatsapp.com/send?phone=5534&text=Tenho%20interesse%20no%20tema {{nome}}
            https://uploadmpdecoracoes.s3.amazonaws.com/{{key}}" class="button" target="_blank">

        <img src="/img/icons/whatsapp.svg" alt="whatsapp">Contato
        </a>
        </footer>
    </article>
{{else}}

<p>Nenhum dado encontrado!</p>

  {{/each}}

</main>-->

